<div class="modal fade" id="resultsColumbusModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">View Results</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6 np-tile-fill np-tile">
                            <div class="row">
                                <div class="col-md-10">
                                    <a href="www.arcohio.org" target="_blank">
                                        <img src="http://bleumarketgroup.org/wp-content/uploads/2015/09/aidsresource.png" alt="NP" width="130" class="pull-left" />
                                    </a>
                                    <div class="div-graph"></div>
                                    <div class="vertical-center">
                                        <strong>AIDS Resource Center Ohio Inc</strong>
                                    </div>
                                </div>

                                <div class="col-md-2 divvote">
                                    <strong id="AIDS_Resource_Center_Ohio_Inc">0%</strong>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 np-tile">
                            <div class="row">
                                <div class="col-md-10">
                                    <a href="www.charitablepharmacy.org" target="_blank">
                                        <img src="http://bleumarketgroup.org/wp-content/uploads/2015/09/logo-charitable-pharmacy-columbus.png" alt="NP" width="130" class="pull-left" />
                                    </a>
                                    <div class="div-graph"></div>
                                    <div class="vertical-center">
                                        <strong>Charitable Pharmacy of Central Ohio</strong>
                                    </div>
                                </div>

                                <div class="col-md-2 divvote">
                                    <strong id="Charitable_Pharmacy_of_Central_Ohio">0%</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6 np-tile">
                            <div class="row">
                                <div class="col-md-10">
                                    <a href="www.columbusliteracy.org" target="_blank">
                                        <img src="http://bleumarketgroup.org/wp-content/uploads/2015/09/columbus_literacy_council.png" alt="NP" width="130" class="pull-left" />
                                    </a>
                                    <div class="div-graph"></div>
                                    <div class="vertical-center">
                                        <strong>Columbus Literacy Council</strong>
                                    </div>                                  
                                </div>

                                <div class="col-md-2 divvote">
                                    <strong id="Columbus_Literacy_Council">0%</strong>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 np-tile np-tile-fill">
                            <div class="row">
                                <div class="col-md-10">
                                    <a href="www.columbusspeech.org" target="_blank">
                                        <img src="http://bleumarketgroup.org/wp-content/uploads/2015/09/speech_hearing.gif" alt="NP" width="130" class="pull-left" />
                                    </a>
                                    <div class="div-graph"></div>
                                    <div class="vertical-center">
                                        <strong>Columbus Speech and Hearing Center</strong>
                                    </div>
                                </div>

                                <div class="col-md-2 divvote">
                                    <strong id="Columbus_Speech_and_Hearing_Center">0%</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6 np-tile-fill np-tile">
                            <div class="row">
                                <div class="col-md-10">
                                    <a href="www.tshirtquilts.com" target="_blank">
                                        <img src="http://bleumarketgroup.org/wp-content/uploads/2015/09/Quilt-Logo.jpg" alt="NP" width="130" class="pull-left" />
                                    </a>
                                    <div class="div-graph"></div>
                                    <div class="vertical-center">
                                        <p>Deaf Initiatives Inc</p>
                                    </div>                                    
                                </div>

                                <div class="col-md-2 divvote">
                                    <strong id="Deaf_Initiatives_Inc">0%</strong>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 np-tile">
                            <div class="row">
                                <div class="col-md-10">
                                    <a href="www.greaterlinden.org" target="_blank">
                                        <img src="http://bleumarketgroup.org/wp-content/uploads/2015/09/linden.png" alt="NP" width="130" class="pull-left" />
                                    </a>
                                    <div class="div-graph"></div>
                                    <div class="vertical-center">
                                        <strong>Greater Linden Development Corporation</strong>
                                    </div>                                   
                                </div>

                                <div class="col-md-2 divvote">
                                    <strong id="Greater_Linden_Development_Corporation">0%</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6 np-tile">
                            <div class="row">
                                <div class="col-md-10">
                                    <a href="www.milvetsrc.org" target="_blank">
                                        <img src="http://bleumarketgroup.org/wp-content/uploads/2015/09/MVRC_Logo_background1.jpg" alt="NP" width="130" class="pull-left" />
                                    </a>
                                    <div class="div-graph"></div>
                                    <div class="vertical-center">
                                        <strong>Military Veterans Resource Center</strong>
                                    </div>
                                   
                                </div>

                                <div class="col-md-2 divvote">
                                    <strong id="Military_Veterans_Resource_Center">0%</strong>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 np-tile np-tile-fill">
                            <div class="row">
                                <div class="col-md-10">
                                    <a href="www.stepbystepacademy.org" target="_blank">
                                        <img src="http://bleumarketgroup.org/wp-content/uploads/2015/09/Step_by_step.jpg" alt="NP" width="130" class="pull-left" />
                                    </a>
                                    <div class="div-graph"></div>
                                    <div class="vertical-center">
                                        <strong>Step By Step</strong>
                                    </div>                                  
                                </div>
                                <div class="col-md-2 divvote">
                                    <strong id="Step_By_Step">0%</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6 np-tile-fill np-tile">
                            <div class="row">
                                <div class="col-md-10">
                                    <a href="www.breathingassociation.org/" target="_blank">
                                        <img src="http://bleumarketgroup.org/wp-content/uploads/2015/09/breathing.png" alt="NP" width="130" class="pull-left" />
                                    </a>
                                    <div class="div-graph"></div>
                                    <div class="vertical-center">
                                        <strong>The Breathing Association</strong>
                                    </div>
                                    
                                </div>

                                <div class="col-md-2 divvote">
                                    <strong id="The_Breathing_Association">0%</strong>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 np-tile">

                            <div class="row">
                                <div class="col-md-10">
                                    <a href="www.TheCenterForBalancedLiving.org" target="_blank">
                                        <img src="http://bleumarketgroup.org/wp-content/uploads/2015/09/the_center.jpg" alt="NP" width="130" class="pull-left" />
                                    </a>
                                    <div class="div-graph"></div>
                                    <div class="vertical-center">
                                        <strong>The Center for Balanced Living</strong>
                                    </div>
                                   
                                </div>

                                <div class="col-md-2 divvote">
                                    <strong id="The_Center_for_BalancedLiving">0%</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">

                        <label class="pull-right">VOTES: <strong class="totalVotes">0</strong></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
