<div class="modal fade" id="resultsDaytonModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">View Results</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6 np-tile-fill np-tile">
                            <div class="row">
                                <div class="col-md-10">
                                    <a href="www.4pawsforability.org" target="_blank">
                                        <img src="http://bleumarketgroup.org/wp-content/uploads/2015/09/4paws-logo.png" alt="NP" width="130" class="pull-left" />
                                    </a>
                                    <div class="div-graph"></div>
                                    <div class="vertical-center">
                                        <strong>4 Paws for Ability</strong>
                                    </div>                                  
                                </div>
                                <div class="col-md-2 divvote">
                                    <strong id="4_Paws_for_Ability">0%</strong>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 np-tile">
                            <div class="row">
                                <div class="col-md-10">
                                    <a href="www.befreedayton.org" target="_blank">
                                        <img src="http://bleumarketgroup.org/wp-content/uploads/2015/09/free_dayton.jpg" alt="NP" width="130" class="pull-left" />
                                    </a>
                                    <div class="div-graph"></div>
                                    <div class="vertical-center">
                                        <strong>BE FREE Dayton</strong>
                                    </div>                                  
                                </div>

                                <div class="col-md-2 divvote">
                                    <strong id="BE_FREE_Dayton">0%</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6 np-tile">
                            <div class="row">
                                <div class="col-md-10">
                                    <a href="www.websterstreetacademy.org" target="_blank">
                                        <img src="http://bleumarketgroup.org/wp-content/uploads/2015/09/wsa-crest.png" alt="NP" width="130" class="pull-left" />
                                    </a>
                                    <div class="div-graph"></div>
                                    <div class="vertical-center">
                                        <strong>Eastway Corporation</strong>
                                    </div>
                                  
                                </div>

                                <div class="col-md-2 divvote">
                                    <strong id="Eastway_Corporation">0%</strong>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 np-tile np-tile-fill">
                            <div class="row">
                                <div class="col-md-10">
                                    <a href="www.homefull.org" target="_blank">
                                        <img src="http://bleumarketgroup.org/wp-content/uploads/2015/09/homefull.png" alt="NP" width="130" class="pull-left" />
                                    </a>
                                    <div class="div-graph"></div>
                                    <div class="vertical-center">
                                        <strong>Homefull</strong>
                                    </div>                                 
                                </div>
                                <div class="col-md-2 divvote">
                                    <strong id="Homefull">0%</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6 np-tile-fill np-tile">
                            <div class="row">
                                <div class="col-md-10">
                                    <a href="www.daytonlec.org" target="_blank">
                                        <img src="http://bleumarketgroup.org/wp-content/uploads/2015/09/life_enrichment.png" alt="NP" width="130" class="pull-left" />
                                    </a>
                                    <div class="div-graph"></div>
                                    <div class="vertical-center">
                                        <p>Life Enrichment Center</p>
                                    </div>
                                 
                                </div>

                                <div class="col-md-2 divvote">
                                    <strong id="Life_Enrichment_Center">0%</strong>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 np-tile">
                            <div class="row">
                                <div class="col-md-10">
                                    <a href="www.mvdsa.org" target="_blank">
                                        <img src="http://bleumarketgroup.org/wp-content/uploads/2015/09/mvdsa.png" alt="NP" width="130" class="pull-left" />
                                    </a>
                                    <div class="div-graph"></div>
                                    <div class="vertical-center">
                                        <strong>Miami Valley Down Syndrome Association</strong>
                                    </div>                                    
                                </div>
                                <div class="col-md-2 divvote">
                                    <strong id="Miami_Valley_Down_Syndrome_Association">0%</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6 np-tile">
                            <div class="row">
                                <div class="col-md-10">
                                    <a href="www.novabehavioralhealth.org" target="_blank">
                                        <img src="http://bleumarketgroup.org/wp-content/uploads/2015/09/nova.jpg" alt="NP" width="130" class="pull-left" />
                                    </a>
                                    <div class="div-graph"></div>
                                    <div class="vertical-center">
                                        <strong>Nova Behavioral Health Inc</strong>
                                    </div>                               
                                </div>

                                <div class="col-md-2 divvote">
                                    <strong id="Nova_Behavioral_Health_Inc">0%</strong>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 np-tile np-tile-fill">
                            <div class="row">
                                <div class="col-md-10">
                                    <a href="www.placesinc.org" target="_blank">
                                        <img src="http://bleumarketgroup.org/wp-content/uploads/2015/09/places.png" alt="NP" width="130" class="pull-left" />
                                    </a>
                                    <div class="div-graph"></div>
                                    <div class="vertical-center">
                                        <strong>PLACES Inc</strong>
                                    </div>                                  
                                </div>

                                <div class="col-md-2 divvote">
                                    <strong id="PLACES_Inc">0%</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6 np-tile-fill np-tile">
                            <div class="row">
                                <div class="col-md-10">
                                    <a href="www.lindavistaproject.org" target="_blank">
                                        <img src="http://bleumarketgroup.org/wp-content/uploads/2015/09/linda_vista.png" alt="NP" width="130" class="pull-left" />
                                    </a>
                                    <div class="div-graph"></div>
                                    <div class="vertical-center">
                                        <strong>The Linda Vista Inc</strong>
                                    </div>
                                   
                                </div>

                                <div class="col-md-2 divvote">
                                    <strong id="The_Linda_Vista_Inc">0%</strong>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 np-tile">
                            <div class="row">
                                <div class="col-md-10">
                                    <a href="www.womanlinedayton.org" target="_blank">
                                        <img src="http://bleumarketgroup.org/wp-content/uploads/2015/09/womanline.jpg" alt="NP" width="130" class="pull-left" />
                                    </a>
                                    <div class="div-graph"></div>
                                    <div class="vertical-center">
                                        <strong>Womanline of Dayton Inc</strong>
                                    </div>
                                </div>

                                <div class="col-md-2 divvote">
                                    <strong id="Womanline_of_Dayton_Inc">0%</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">

                        <label class="pull-right">VOTES: <strong class="totalVotes">0</strong></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
