<div class="modal fade" id="resultsCincinnatiModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">View Results</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6 np-tile-fill np-tile">
                            <div class="row">
                                <div class="col-md-10">
                                    <a href="www.bgcgc.org" target="_blank">
                                        <img src="http://bleumarketgroup.org/wp-content/uploads/2015/09/bgc.jpg" alt="NP" width="130" class="pull-left" />
                                    </a>
                                    <div class="div-graph"></div>
                                    <div class="vertical-center">
                                        <strong>Boys and Girls Clubs of Greater Cincinnati</strong>
                                    </div>
                                </div>

                                <div class="col-md-2 divvote">
                                    <strong id="Boys_and_Girls_Clubs_of_Greater_Cincinnati">0%</strong>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 np-tile">
                            <div class="row">
                                <div class="col-md-10">
                                    <a href="www.cincinnatitoolbank.org" target="_blank">
                                        <img src="http://bleumarketgroup.org/wp-content/uploads/2015/09/cincinnatitoolbank.jpg" alt="NP" width="130" class="pull-left" />
                                    </a>
                                    <div class="div-graph"></div>
                                    <div class="vertical-center">
                                        <strong>Cincinnati Community ToolBank</strong>
                                    </div>
                                </div>

                                <div class="col-md-2 divvote">
                                    <strong id="Cincinnati_Community_ToolBank">0%</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6 np-tile">
                            <div class="row">
                                <div class="col-md-10">
                                    <a href="www.countrysideymca.org" target="_blank">
                                        <img src="http://bleumarketgroup.org/wp-content/uploads/2015/09/the_y.png" alt="NP" width="130" class="pull-left" />
                                    </a>
                                    <div class="div-graph"></div>
                                    <div class="vertical-center">
                                        <strong>Countryside YMCA</strong>
                                    </div>                                  
                                </div>
                                <div class="col-md-2 divvote">
                                    <strong id="Countryside_YMCA">0%</strong>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 np-tile np-tile-fill">
                            <div class="row">
                                <div class="col-md-10">
                                    <a href="www.easterseals.com/swohio/" target="_blank">
                                        <img src="http://bleumarketgroup.org/wp-content/uploads/2015/09/easter-seals-logo-no-ds.gif" alt="NP" width="130" class="pull-left" />
                                    </a>
                                    <div class="div-graph"></div>
                                    <div class="vertical-center">
                                        <strong>Easter Seals Tristate</strong>
                                    </div>
                                </div>

                                <div class="col-md-2 divvote">
                                    <strong id="Easter_Seals_Tristate">0%</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6 np-tile-fill np-tile">
                            <div class="row">
                                <div class="col-md-10">
                                    <a href="www.mcurc.org" target="_blank">
                                        <img src="http://bleumarketgroup.org/wp-content/uploads/2015/09/MCURC_logo.png" alt="NP" width="130" class="pull-left" />
                                    </a>
                                    <div class="div-graph"></div>
                                    <div class="vertical-center">
                                        <p>Madisonville Community Urban Redevelopment Corporation</p>
                                    </div>                                   
                                </div>
                                <div class="col-md-2 divvote">
                                    <strong id="Madisonville_Community_Urban_Redevelopment_Corporation">0%</strong>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 np-tile">
                            <div class="row">
                                <div class="col-md-10">
                                    <a href="www.ohiovalleyvoices.org" target="_blank">
                                        <img src="http://bleumarketgroup.org/wp-content/uploads/2015/09/valley_voices.png" alt="NP" width="130" class="pull-left" />
                                    </a>
                                    <div class="div-graph"></div>
                                    <div class="vertical-center">
                                        <strong>Ohio Valley Voices</strong>
                                    </div>                                   
                                </div>

                                <div class="col-md-2 divvote">
                                    <strong id="Ohio_Valley_Voices">0%</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6 np-tile">
                            <div class="row">
                                <div class="col-md-10">
                                    <a href="www.svdpcincinnati.org" target="_blank">
                                        <img src="http://bleumarketgroup.org/wp-content/uploads/2015/09/svd.png" alt="NP" width="130" class="pull-left" />
                                    </a>
                                    <div class="div-graph"></div>
                                    <div class="vertical-center">
                                        <strong>St Vincent de Paul</strong>
                                    </div>                                  
                                </div>

                                <div class="col-md-2 divvote">
                                    <strong id="St_Vincent_de_Paul">0%</strong>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 np-tile np-tile-fill">
                            <div class="row">
                                <div class="col-md-10">
                                    <a href="www.steppingstonesranch.org" target="_blank">
                                        <img src="http://bleumarketgroup.org/wp-content/uploads/2015/09/stepping-_stones.png" alt="NP" width="130" class="pull-left" />
                                    </a>
                                    <div class="div-graph"></div>
                                    <div class="vertical-center">
                                        <strong>Stepping Stones Ranch</strong>
                                    </div>                                    
                                </div>
                                <div class="col-md-2 divvote">
                                    <strong id="Stepping_Stones_Ranch">0%</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6 np-tile-fill np-tile">
                            <div class="row">
                                <div class="col-md-10">
                                    <a href="www.thecurestartsnow.org" target="_blank">
                                        <img src="http://bleumarketgroup.org/wp-content/uploads/2015/09/cure.jpg" alt="NP" width="130" class="pull-left" />
                                    </a>
                                    <div class="div-graph"></div>
                                    <div class="vertical-center">
                                        <strong>The Cure Starts Now</strong>
                                    </div>                                   
                                </div>

                                <div class="col-md-2 divvote">
                                    <strong id="The_Cure_Starts_Now">0%</strong>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 np-tile">

                            <div class="row">
                                <div class="col-md-10">
                                    <a href="www.wccsinc.org" target="_blank">
                                        <img src="http://bleumarketgroup.org/wp-content/uploads/2015/09/wccs.jpg" alt="NP" width="130" class="pull-left" />
                                    </a>
                                    <div class="div-graph"></div>
                                    <div class="vertical-center">
                                        <strong>Warren County Community Services Inc</strong>
                                    </div>                                    
                                </div>

                                <div class="col-md-2 divvote">
                                    <strong id="Warren_County_Community_Services_Inc">0%</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">

                        <label class="pull-right">VOTES: <strong class="totalVotes">0</strong></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
