<div class="modal fade" id="voteCincinnatiModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Cast Your Vote</h4>
            </div>
            <div class="modal-body">
                <div class="vote-section">
                    <div class="captcha-issue">
                        <div class="alert alert-danger" role="alert">
                            <strong>The characters entered did not match the characters in the image below!</strong> Please try again.
                        </div>
                    </div>

                    <input type="hidden" name="selectedCity" class="selectedCity" />
                    <input type="hidden" name="voterFname" class="voterFname" />
                    <input type="hidden" name="voterLname" class="voterLname" />
                    <input type="hidden" name="voterEmail" class="voterEmail" />
                    <input type="hidden" name="voterPhone" class="voterPhone" />
                    <input type="hidden" name="voterBname" class="voterBname" />
                    <input type="hidden" name="voterVote" class="voterVote" />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6 np-tile-fill np-tile">
                                <div class="row">
                                    <div class="col-md-10">
                                        <a href="www.bgcgc.org" target="_blank">
                                            <img src="http://bleumarketgroup.org/wp-content/uploads/2015/09/bgc.jpg" alt="NP" width="130" class="pull-left" />
                                        </a>
                                        <div class="vertical-center">
                                            <strong>Boys and Girls Clubs of Greater Cincinnati</strong>
                                        </div>
                                    </div>

                                    <div class="col-md-2 divvote">
                                        <button class="btn btn-success pull-right select-np" name="Boys and Girls Clubs of Greater Cincinnati">Vote</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 np-tile">
                                <div class="row">
                                    <div class="col-md-10">
                                        <a href="www.cincinnatitoolbank.org" target="_blank">
                                            <img src="http://bleumarketgroup.org/wp-content/uploads/2015/09/cincinnatitoolbank.jpg" alt="NP" width="130" class="pull-left" />
                                        </a>
                                        <div class="vertical-center">
                                            <strong>Cincinnati Community ToolBank</strong>
                                        </div>
                                    </div>

                                    <div class="col-md-2 divvote">
                                        <button class="btn btn-success pull-right select-np" name="Cincinnati Community ToolBank">Vote</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6 np-tile">
                                <div class="row">
                                    <div class="col-md-10">
                                        <a href="www.countrysideymca.org" target="_blank">
                                            <img src="http://bleumarketgroup.org/wp-content/uploads/2015/09/the_y.png" alt="NP" width="130" class="pull-left" />
                                        </a>
                                        <div class="vertical-center">
                                            <strong>Countryside YMCA</strong>
                                        </div>
                                    </div>

                                    <div class="col-md-2 divvote">
                                        <button class="btn btn-success pull-right select-np" name="Countryside YMCA">Vote</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 np-tile np-tile-fill">
                                <div class="row">
                                    <div class="col-md-10">
                                        <a href="www.easterseals.com/swohio/" target="_blank">
                                            <img src="http://bleumarketgroup.org/wp-content/uploads/2015/09/easter-seals-logo-no-ds.gif" alt="NP" width="130" class="pull-left" />
                                        </a>
                                        <div class="vertical-center">
                                            <strong>Easter Seals Tristate</strong>
                                        </div>
                                    </div>

                                    <div class="col-md-2 divvote">
                                        <button class="btn btn-success pull-right select-np" name="Easter Seals Tristate">Vote</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6 np-tile-fill np-tile">
                                <div class="row">
                                    <div class="col-md-10">
                                        <a href="www.mcurc.org" target="_blank">
                                            <img src="http://bleumarketgroup.org/wp-content/uploads/2015/09/MCURC_logo.png" alt="NP" width="130" class="pull-left" />
                                        </a>
                                        <div class="vertical-center">
                                            <p>Madisonville Community Urban Redevelopment Corporation</p>
                                        </div>
                                    </div>

                                    <div class="col-md-2 divvote">
                                        <button class="btn btn-success pull-right select-np" name="Madisonville Community Urban Redevelopment Corporation">Vote</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 np-tile">
                                <div class="row">
                                    <div class="col-md-10">
                                        <a href="www.ohiovalleyvoices.org" target="_blank">
                                            <img src="http://bleumarketgroup.org/wp-content/uploads/2015/09/valley_voices.png" alt="NP" width="130" class="pull-left" />
                                        </a>
                                        <div class="vertical-center">
                                            <strong>Ohio Valley Voices</strong>
                                        </div>
                                    </div>

                                    <div class="col-md-2 divvote">
                                        <button class="btn btn-success pull-right select-np" name="Ohio Valley Voices">Vote</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6 np-tile">
                                <div class="row">
                                    <div class="col-md-10">
                                        <a href="www.svdpcincinnati.org" target="_blank">
                                            <img src="http://bleumarketgroup.org/wp-content/uploads/2015/09/svd.png" alt="NP" width="130" class="pull-left" />
                                        </a>
                                        <div class="vertical-center">
                                            <strong>St Vincent de Paul</strong>
                                        </div>
                                    </div>

                                    <div class="col-md-2 divvote">
                                        <button class="btn btn-success pull-right select-np" name="St Vincent de Paul">Vote</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 np-tile np-tile-fill">
                                <div class="row">
                                    <div class="col-md-10">
                                        <a href="www.steppingstonesranch.org" target="_blank">
                                            <img src="http://bleumarketgroup.org/wp-content/uploads/2015/09/stepping-_stones.png" alt="NP" width="130" class="pull-left" />
                                        </a>
                                        <div class="vertical-center">
                                            <strong>Stepping Stones Ranch</strong>
                                        </div>
                                    </div>

                                    <div class="col-md-2 divvote">
                                        <button class="btn btn-success pull-right select-np" name="Stepping Stones Ranch">Vote</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6 np-tile-fill np-tile">
                                <div class="row">
                                    <div class="col-md-10">
                                        <a href="www.thecurestartsnow.org" target="_blank">
                                            <img src="http://bleumarketgroup.org/wp-content/uploads/2015/09/cure.jpg" alt="NP" width="130" class="pull-left" />
                                        </a>
                                        <div class="vertical-center">
                                            <strong>The Cure Starts Now</strong>
                                        </div>
                                    </div>

                                    <div class="col-md-2 divvote">
                                        <button class="btn btn-success pull-right select-np" name="The Cure Starts Now">Vote</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 np-tile">

                                <div class="row">
                                    <div class="col-md-10">
                                        <a href="www.wccsinc.org" target="_blank">
                                            <img src="http://bleumarketgroup.org/wp-content/uploads/2015/09/wccs.jpg" alt="NP" width="130" class="pull-left" />
                                        </a>
                                        <div class="vertical-center">
                                            <strong>Warren County Community Services Inc</strong>
                                        </div>
                                    </div>

                                    <div class="col-md-2 divvote">
                                        <button class="btn btn-success pull-right select-np" name="Warren County Community Services Inc">Vote</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-12">
                            <table>
                                <tr>
                                    <td>&nbsp;<label>Please enter the characters in the image.</label><br /><label> Then click 'Vote' button:</label> </td>
                                    <td valign="top">
                                        <div class="row">
                                            <div class="col-md-6">

                                                <input type="text" id="txtCincinnatiInput" style="width:100%; height:38px;" class="form-control" />
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" id="txtCincinnatiCaptcha" size="12"
                                                       style="background-image:url(http://s12.postimg.org/pheccqm8t/captcha_image.jpg);
			   font-size:30px;text-align:center; border:none;
			   font-weight:bold; font-family: 'Curlz MT'; font-stretch: ultra-expanded" />
                                            </div>
                                        </div>


                                    </td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td>
                                        <input type="button"value="Refresh" class="refresh btn btn-primary" />
                                    </td>
                                </tr>


                            </table>
                        </div>
                    </div>
                </div>
                <div class="row success-msg">
                    <div class="col-md-12">
                        <div class="alert alert-success" role="alert">
                            <strong>Congratulations!</strong> You have voted successfully.
                        </div>
                        <br />
                        <a href="#" class="resultslink"><strong>View Results</strong></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
