<div class="modal fade" id="voteDaytonModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Cast Your Vote</h4>
            </div>
            <div class="modal-body">
                <div class="vote-section">
                    <div class="captcha-issue">
                        <div class="alert alert-danger" role="alert">
                            <strong>The characters entered did not match the characters in the image below!</strong> Please try again.
                        </div>
                    </div>

                    <input type="hidden" name="selectedCity" class="selectedCity" />
                    <input type="hidden" name="voterFname" class="voterFname" />
                    <input type="hidden" name="voterLname" class="voterLname" />
                    <input type="hidden" name="voterEmail" class="voterEmail" />
                    <input type="hidden" name="voterPhone" class="voterPhone" />
                    <input type="hidden" name="voterBname" class="voterBname" />
                    <input type="hidden" name="voterVote" class="voterVote" />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6 np-tile-fill np-tile">
                                <div class="row">
                                    <div class="col-md-10">
                                        <a href="www.4pawsforability.org" target="_blank">
                                            <img src="http://bleumarketgroup.org/wp-content/uploads/2015/09/4paws-logo.png" alt="NP" width="130" class="pull-left" />
                                        </a>
                                        <div class="vertical-center">
                                            <strong>4 Paws for Ability</strong>
                                        </div>
                                    </div>

                                    <div class="col-md-2 divvote">
                                        <button class="btn btn-success pull-right select-np" name="4 Paws for Ability">Vote</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 np-tile">
                                <div class="row">
                                    <div class="col-md-10">
                                        <a href="www.befreedayton.org" target="_blank">
                                            <img src="http://bleumarketgroup.org/wp-content/uploads/2015/09/free_dayton.jpg" alt="NP" width="130" class="pull-left" />
                                        </a>
                                        <div class="vertical-center">
                                            <strong>BE FREE Dayton</strong>
                                        </div>
                                    </div>

                                    <div class="col-md-2 divvote">
                                        <button class="btn btn-success pull-right select-np" name="BE FREE Dayton">Vote</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6 np-tile">
                                <div class="row">
                                    <div class="col-md-10">
                                        <a href="www.websterstreetacademy.org" target="_blank">
                                            <img src="http://bleumarketgroup.org/wp-content/uploads/2015/09/wsa-crest.png" alt="NP" width="130" class="pull-left" />
                                        </a>
                                        <div class="vertical-center">
                                            <strong>Eastway Corporation</strong>
                                        </div>
                                    </div>

                                    <div class="col-md-2 divvote">
                                        <button class="btn btn-success pull-right select-np" name="Eastway Corporation">Vote</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 np-tile np-tile-fill">
                                <div class="row">
                                    <div class="col-md-10">
                                        <a href="www.homefull.org" target="_blank">
                                            <img src="http://bleumarketgroup.org/wp-content/uploads/2015/09/homefull.png" alt="NP" width="130" class="pull-left" />
                                        </a>
                                        <div class="vertical-center">
                                            <strong>Homefull</strong>
                                        </div>
                                    </div>

                                    <div class="col-md-2 divvote">
                                        <button class="btn btn-success pull-right select-np" name="Homefull">Vote</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6 np-tile-fill np-tile">
                                <div class="row">
                                    <div class="col-md-10">
                                        <a href="www.daytonlec.org" target="_blank">
                                            <img src="http://bleumarketgroup.org/wp-content/uploads/2015/09/life_enrichment.png" alt="NP" width="130" class="pull-left" />
                                        </a>
                                        <div class="vertical-center">
                                            <p>Life Enrichment Center</p>
                                        </div>
                                    </div>

                                    <div class="col-md-2 divvote">
                                        <button class="btn btn-success pull-right select-np" name="Life Enrichment Center">Vote</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 np-tile">
                                <div class="row">
                                    <div class="col-md-10">
                                        <a href="www.mvdsa.org" target="_blank">
                                            <img src="http://bleumarketgroup.org/wp-content/uploads/2015/09/mvdsa.png" alt="NP" width="130" class="pull-left" />
                                        </a>
                                        <div class="vertical-center">
                                            <strong>Miami Valley Down Syndrome Association</strong>
                                        </div>
                                    </div>

                                    <div class="col-md-2 divvote">
                                        <button class="btn btn-success pull-right select-np" name="Miami Valley Down Syndrome Association">Vote</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6 np-tile">
                                <div class="row">
                                    <div class="col-md-10">
                                        <a href="www.novabehavioralhealth.org" target="_blank">
                                            <img src="http://bleumarketgroup.org/wp-content/uploads/2015/09/nova.jpg" alt="NP" width="130" class="pull-left" />
                                        </a>
                                        <div class="vertical-center">
                                            <strong>Nova Behavioral Health Inc</strong>
                                        </div>
                                    </div>

                                    <div class="col-md-2 divvote">
                                        <button class="btn btn-success pull-right select-np" name="Nova Behavioral Health Inc">Vote</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 np-tile np-tile-fill">
                                <div class="row">
                                    <div class="col-md-10">
                                        <a href="www.placesinc.org" target="_blank">
                                            <img src="http://bleumarketgroup.org/wp-content/uploads/2015/09/places.png" alt="NP" width="130" class="pull-left" />
                                        </a>
                                        <div class="vertical-center">
                                            <strong>PLACES Inc</strong>
                                        </div>
                                    </div>

                                    <div class="col-md-2 divvote">
                                        <button class="btn btn-success pull-right select-np" name="PLACES Inc">Vote</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6 np-tile-fill np-tile">
                                <div class="row">
                                    <div class="col-md-10">
                                        <a href="www.lindavistaproject.org" target="_blank">
                                            <img src="http://bleumarketgroup.org/wp-content/uploads/2015/09/linda_vista.png" alt="NP" width="130" class="pull-left" />
                                        </a>
                                        <div class="vertical-center">
                                            <strong>The Linda Vista Inc</strong>
                                        </div>
                                    </div>

                                    <div class="col-md-2 divvote">
                                        <button class="btn btn-success pull-right select-np" name="The Linda Vista Inc">Vote</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 np-tile">

                                <div class="row">
                                    <div class="col-md-10">
                                        <a href="www.womanlinedayton.org" target="_blank">
                                            <img src="http://bleumarketgroup.org/wp-content/uploads/2015/09/womanline.jpg" alt="NP" width="130" class="pull-left" />
                                        </a>
                                        <div class="vertical-center">
                                            <strong>Womanline of Dayton Inc</strong>
                                        </div>
                                    </div>

                                    <div class="col-md-2 divvote">
                                        <button class="btn btn-success pull-right select-np" name="Womanline of Dayton Inc">Vote</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-12">
                            <table>
                                <tr>
                                    <td>&nbsp;<label>Please enter the characters in the image.</label><br /><label> Then click 'Vote' button:</label> </td>
                                    <td valign="top">
                                        <div class="row">
                                            <div class="col-md-6">

                                                <input type="text" id="txtDaytonInput" style="width:100%; height:38px;" class="form-control" />
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" id="txtDaytonCaptcha" size="12"
                                                       style="background-image:url(http://s12.postimg.org/pheccqm8t/captcha_image.jpg);
			   font-size:30px;text-align:center; border:none;
			   font-weight:bold; font-family: 'Curlz MT'; font-stretch: ultra-expanded" />
                                            </div>
                                        </div>


                                    </td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td>
                                        <input type="button" value="Refresh" class="refresh btn btn-primary" />
                                    </td>
                                </tr>


                            </table>
                        </div>
                    </div>
                </div>
                <div class="row success-msg">
                    <div class="col-md-12">
                        <div class="alert alert-success" role="alert">
                            <strong>Congratulations!</strong> You have voted successfully.
                        </div>
                        <br />
                        <a href="#" class="resultslink"><strong>View Results</strong></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
