<div class="modal fade" id="voteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Cast Your Vote</h4>
            </div>
            <div class="modal-body">
                <div class="vote-section">
                    <div class="captcha-issue">
                        <div class="alert alert-danger" role="alert">
                            <strong>The characters entered did not match the characters in the image below!</strong> Please try again.
                        </div>
                    </div>

                    <input type="hidden" name="selectedCity" id="selectedCity" />
                    <input type="hidden" name="voterFname" id="voterFname" />
                    <input type="hidden" name="voterLname" id="voterLname" />
                    <input type="hidden" name="voterEmail" id="voterEmail" />
                    <input type="hidden" name="voterPhone" id="voterPhone" />
                    <input type="hidden" name="voterBname" id="voterBname" />
                    <input type="hidden" name="voterVote" id="voterVote" />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6 np-tile-fill np-tile">
                                <div class="row">
                                    <div class="col-md-10">
                                        <a href="http://www.upspring.org/" target="_blank">
                                            <img src="http://bleumarketgroup.org/wp-content/uploads/2015/06/faces-200x114.png" alt="NP" width="130" class="pull-left" />
                                        </a>
                                        <div class="vertical-center">
                                            <strong>UpSpring</strong>
                                        </div>
                                    </div>

                                    <div class="col-md-2 divvote">
                                        <button class="btn btn-success pull-right select-np" name="UpSpring">Vote</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 np-tile">
                                <div class="row">
                                    <div class="col-md-10">
                                        <a href="http://hamiltonmill.org/" target="_blank">
                                            <img src="http://bleumarketgroup.org/wp-content/uploads/2015/06/hamilton_mill-200x114.png" alt="NP" width="130" class="pull-left" />
                                        </a>
                                        <div class="vertical-center">
                                            <strong>Hamilton Mill</strong>
                                        </div>
                                    </div>

                                    <div class="col-md-2 divvote">
                                        <button class="btn btn-success pull-right select-np" name="Hamilton Mill">Vote</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6 np-tile">
                                <div class="row">
                                    <div class="col-md-10">
                                        <a href="http://abrushofhope.org/" target="_blank">
                                            <img src="http://bleumarketgroup.org/wp-content/uploads/2014/10/Brush_hope-200x118.png" alt="NP" width="130" class="pull-left" />
                                        </a>
                                        <div class="vertical-center">
                                            <strong>A Brush of Hope</strong>
                                        </div>
                                    </div>

                                    <div class="col-md-2 divvote">
                                        <button class="btn btn-success pull-right select-np" name="A Brush Of Hope">Vote</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 np-tile np-tile-fill">
                                <div class="row">
                                    <div class="col-md-10">
                                        <a href="http://adoptabookohio.org/" target="_blank">
                                            <img src="http://bleumarketgroup.org/wp-content/uploads/2014/10/Adopt_a_book-200x98.png" alt="NP" width="130" class="pull-left" />
                                        </a>
                                        <div class="vertical-center">
                                            <strong>Adopt a Book</strong>
                                        </div>
                                    </div>

                                    <div class="col-md-2 divvote">
                                        <button class="btn btn-success pull-right select-np" name="Adopt A Book">Vote</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6 np-tile-fill np-tile">
                                <div class="row">
                                    <div class="col-md-10">
                                        <a href="http://cincinnatitoolbank.org/" target="_blank">
                                            <img src="http://bleumarketgroup.org/wp-content/uploads/2015/03/toolbank-200x114.png" alt="NP" width="130" class="pull-left" />
                                        </a>
                                        <div class="vertical-center">
                                            <p>Cincinnati Community ToolBank</p>
                                        </div>
                                    </div>

                                    <div class="col-md-2 divvote">
                                        <button class="btn btn-success pull-right select-np" name="Cincinnati Community ToolBank">Vote</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 np-tile">
                                <div class="row">
                                    <div class="col-md-10">
                                        <a href="http://www.healthyvisions.org/" target="_blank">
                                            <img src="http://bleumarketgroup.org/wp-content/uploads/2015/03/healthy_visions-200x114.png" alt="NP" width="130" class="pull-left" />
                                        </a>
                                        <div class="vertical-center">
                                            <strong>Healthy Visions</strong>
                                        </div>
                                    </div>

                                    <div class="col-md-2 divvote">
                                        <button class="btn btn-success pull-right select-np" name="Healthy Visions">Vote</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6 np-tile">
                                <div class="row">
                                    <div class="col-md-10">
                                        <a href="http://spiritofcincinnatus.org/" target="_blank">
                                            <img src="http://bleumarketgroup.org/wp-content/uploads/2015/06/SOC-200x114.png" alt="NP" width="130" class="pull-left" />
                                        </a>
                                        <div class="vertical-center">
                                            <strong>The Spirit of Cincinnatis</strong>
                                        </div>
                                    </div>

                                    <div class="col-md-2 divvote">
                                        <button class="btn btn-success pull-right select-np" name="The Spirit of Cincinnatis">Vote</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 np-tile np-tile-fill">
                                <div class="row">
                                    <div class="col-md-10">
                                        <a href="http://www.cincyurbanpromise.org/" target="_blank">
                                            <img src="http://bleumarketgroup.org/wp-content/uploads/2015/03/cup-200x114.png" alt="NP" width="130" class="pull-left" />
                                        </a>
                                        <div class="vertical-center">
                                            <strong>Cincinnati Urban Promise</strong>
                                        </div>
                                    </div>

                                    <div class="col-md-2 divvote">
                                        <button class="btn btn-success pull-right select-np" name="Cincinnati Urban Promise">Vote</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6 np-tile-fill np-tile">
                                <div class="row">
                                    <div class="col-md-10">
                                        <a href="http://www.ogiveback.com/Pages/default.aspx" target="_blank">
                                            <img src="http://bleumarketgroup.org/wp-content/uploads/2015/06/OGB-200x114.png" alt="NP" width="130" class="pull-left" />
                                        </a>
                                        <div class="vertical-center">
                                            <strong>Operation Give Back</strong>
                                        </div>
                                    </div>

                                    <div class="col-md-2 divvote">
                                        <button class="btn btn-success pull-right select-np" name="Operation Give Back">Vote</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 np-tile">

                                <div class="row">
                                    <div class="col-md-10">
                                        <a href="http://dragonfly.org/" target="_blank">
                                            <img src="http://bleumarketgroup.org/wp-content/uploads/2015/06/dragonfly-200x114.png" alt="NP" width="130" class="pull-left" />
                                        </a>
                                        <div class="vertical-center">
                                            <strong>The DragonFly Foundation</strong>
                                        </div>
                                    </div>

                                    <div class="col-md-2 divvote">
                                        <button class="btn btn-success pull-right select-np" name="The DragonFly Foundation">Vote</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-12">
                            <table>
                                <tr>
                                    <td>&nbsp;<label>Please enter the characters in the image.</label><br /><label> Then click 'Vote' button:</label> </td>
                                    <td valign="top">
                                        <div class="row">
                                            <div class="col-md-6">

                                                <input type="text" id="txtInput" style="width:100%; height:38px;" class="form-control" />
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" id="txtCaptcha" size="12"
                                                       style="background-image:url(http://s12.postimg.org/pheccqm8t/captcha_image.jpg);
			   font-size:30px;text-align:center; border:none;
			   font-weight:bold; font-family: 'Curlz MT'; font-stretch: ultra-expanded" />
                                            </div>
                                        </div>


                                    </td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td>
                                        <input type="button" id="refresh" value="Refresh" class="btn btn-primary" />
                                    </td>
                                </tr>


                            </table>
                        </div>
                    </div>
                </div>
                <div class="row success-msg">
                    <div class="col-md-12">
                        <div class="alert alert-success" role="alert">
                            <strong>Congratulations!</strong> You have voted successfully.
                        </div>
                        <br />
                        <a href="#" class="resultslink"><strong>View Results</strong></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
